body{
  background: hwb(0 80% 20%);
  padding: 0;
  color: #000;
  margin: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: auto;
  margin-left: 50px;
}
.container img{
  width: 35px;
  border-radius: 50%;

}
.container ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap :20px ;
}
.pictures {
width: 70%;
height: 50vw;
border: 1px solid green;
margin: auto;

}
.pictures img{
  width: 100%;
}